:root{
	
	--block-bg: #E4E4E4;
	
}

body{
	
	background: url(src/img/bodybg.png) no-repeat center center fixed;
	/*兼容浏览器版本*/
	-webkit-background-size: cover;
	-o-background-size: cover;                
	background-size: cover;
	
background-color: white;
}

.title{
	
	text-align: center;
	margin-top: 30px;
	
}

.lists{

	padding-top: 2px;
	padding-right: 11%;
	padding-bottom: 2px;
	padding-left: 11%;
	text-align: left;

}

.lists-h2{
	
	margin-top: 20px;
	display: block;
	margin: 20px -10px 5px -10px;	
}

.flex{
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.block-button{
	
	width: 100%;
	height: 180px;
	margin: 6px -9px;
	padding: 0px 15px;
	background-size: 100% auto;
	/* text-align: center; */
	/* align-items: center; */
	/* justify-content:space-between; */
	color: black;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	/* background-color: rgb(250,250,250,0.23); */
	border-radius: 4px;
	box-shadow: 0px 0px 1px black;          
	backdrop-filter: saturate(100%) blur(10px);
	-webkit-backdrop-filter: saturate(120%) blur(25px);
    background-color: rgba(255,255,255,0.72);
	cursor: pointer;
	transition: all 0.11s;
	-moz-transition:all 0.11s;
	-webkit-transition: all 0.11s;
	-o-transition: all 0.11s;
	
}
         
.block-button:hover{

	box-shadow: 0px 0px 4px black; 
	background-color: rgba(255,255,255,0.2);
	transform:scale(0.99);
	-ms-transform:rotate(0.99); 	/* IE 9 */
	-moz-transform:rotate(0.99); 	/* Firefox */
	-webkit-transform:rotate(0.99); /* Safari 和 Chrome */
	-o-transform:rotate(0.99); 	/* Opera */
      
}	
	   
.block-button:active{

		transform:scale(0.97);
		-ms-transform:rotate(0.97); 	/* IE 9 */
		-moz-transform:rotate(0.97); 	/* Firefox */
		-webkit-transform:rotate(0.97); /* Safari 和 Chrome */
		-o-transform:rotate(0.97); 	/* Opera */
      
}	
	
		 
.btitle{
	
	font-size: 24px;
	font-weight: bold;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
	margin-bottom: 2px;
}

.bimg{
	
	float: left;
	height: 60px;
	margin: 22px 5px -4px 0;
	border-radius: 10px;
	
}
.web-icon{
	
	margin-bottom: -2px;
	fill: #707070;
}

.burl{
	
	font-size: 14px;
	color: #707070!important;
	white-space: nowrap;
    /* text-overflow: ellipsis; */
    overflow: hidden;
    /* word-break: break-all; */
	display: inline;
	/* webkit-line-clamp: 1; */
	/* line-clamp: 1; */
}

.burl:hover{
	
	color: #707070!important;
	
}


.bintro{
	
	margin-top: 14px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
	
}
@media (max-width: 600px){

	/* .flex{ */
		
		/* display: block; */
		
	/* } */
	.lists{

		padding-right: 20px;
		padding-left: 20px;
		text-align: left;

	}
	.lists-h2{
		
		text-align: left;
		
	}
	.block-button{
		
		border-radius: 7px;
		
	}

}
@media (min-width: 600px){

	.lists-h2{
		
		text-align: center;
		
	}
	.block-button{
		
		width: 44%;
		
	}

}
@media (min-width: 1000px){

	.block-button{
		
		width: 30%;
		
	}

}
@media (prefers-color-scheme: dark) {
	
		
	body{
		
		background: url(/src/img/bodybgd.png)no-repeat center center fixed!important;
		/* 设置背景颜色，背景图加载过程中会显示背景色 */
		background-color: #464646;
	}
	
	.block-button{
		
		background-color: rgba(52,50,50,0.7);
		
	}
	.btitle,.bintro{
		
		color: white;
		
	}
	
	.burl{
		
		color: #E4E4E4!important;
		
	}
	
	.web-icon{
		
		fill: #E4E4E4;
		
	}
		
	
}