		<link rel="stylesheet" type="text/css" href="/src/css/foot.css">
		<div class="footer-body">
		<span class="footer-span" > 
		<table style="width:100%;" cellpadding="2" cellspacing="0" border="0" class="ke-zeroborder">
			<!-- <tbody> -->
				<!-- <tr> -->
					<!-- <td> -->
						<!-- <span class="footer-span"><strong>开始</strong></span><br /> -->
					<!-- </td> -->
					<!-- <td> -->
						<!-- <span class="footer-span"><strong>关于</strong></span>  -->
					<!-- </td> -->
				<!-- </tr> -->
				<!-- <tr> -->
					<!-- <td> -->
						<!-- <span class="footer-span"><a class="footer-a"  href="/" target="_blank">主页</a></span><br /> -->
					<!-- </td> -->
					<!-- <td> -->
						<!-- <span class="footer-span"><a class="footer-a"  href="/about/" target="_blank">关于</a></span>  -->
					<!-- </td> -->
				<!-- </tr> -->
				<!-- <tr> -->
					<!-- <td> -->
						<!-- <span class="footer-span"><a class="footer-a"  href="/live/" target="_blank">直播</a></span>  -->
					<!-- </td> -->
					<!-- <td> -->
						<!-- <a class="footer-a"  href="/feedback/" target="_blank"><span class="footer-span">反馈</span><span class="footer-span"></span></a><br /> -->
					<!-- </td> -->
				<!-- </tr> -->
				<!-- <tr> -->
					<!-- <td> -->
						<!-- <span class="footer-span"><a class="footer-a"  href="/resources/" target="_blank">应用</a></span>  -->
					<!-- </td> -->
					<!-- <td> -->
						<!-- <span class="footer-span"><a class="footer-a"  href="/supportus/" target="_blank">捐助</a></span><br /> -->
					<!-- </td> -->
				<!-- </tr> -->
				<!-- <tr> -->
					<!-- <td> -->
						<!-- <span class="footer-span"><a class="footer-a"  href="/video/" target="_blank">视频</a></span><br /> -->
					<!-- </td> -->
					<!-- <td> -->
						<!-- <br /> -->
					<!-- </td> -->
				<!-- </tr> -->
			<!-- </tbody> -->
		<!-- </table> -->
		</span> 

		<p style="text-align:center;">
			<span class="footer-span" style="color:#666666;"><span class="footer-span" style="color:#CCCCCC;">本站推荐使用<a href="https://www.apple.com.cn/safari/" target="blank">Apple Safari </a>或<a href="https://microsoft.com/zh-cn/edge/" target="blank">Microsoft Edge </a>访问本网站。<br />版权所有 junbo.wang。保留所有权利。<br />Copyright junbo.wang. All rights reserved.<br /><a class="footer-a"  href="/legal/network-service-protocol.html" target="_blank">服务协议</a> | <a class="footer-a"  href="legal/privacy-policy.html" target="_blank">隐私政策</a><br />网站邮箱：<a class="footer-a"  href="mailto:admin@mail.junbo.wang" target="_blank">admin@mail.junbo.wang</a></span></span> 
		</p>
		</div>

		
		<script>
	
		(function(){
			var bp = document.createElement('script');
			var curProtocol = window.location.protocol.split(':')[0];
			if (curProtocol === 'https') {
				bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
			}
			else {
				bp.src = 'http://push.zhanzhang.baidu.com/push.js';
			}
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(bp, s);
		})();
		</script>
