<link rel="stylesheet" type="text/css" href="/src/css/common.css">
<link rel="stylesheet" type="text/css" href="/src/css/head.css">
<link rel="stylesheet" type="text/css" href="/src/css/head-pc.css" media="screen and (min-width:700px)" >
<link rel="stylesheet" type="text/css" href="/src/css/head-m.css" media="screen and (max-width:700px)" >

<style>
	
	#logo{
		height:50px;
		margin-bottom:-10px;
		margin-right:5px;
	}
	@media screen and (max-width: 700px) {
		#logo{
			height:40px;
		}
	}
	
</style>
<div id="header-main" class="height">
	<a href="/" class="header-link"><h1 id="header-title"><img id="logo" src="/src/img/J_B_Normal.png"/>Junbo<small> </small>站点导航</h1></a> 
	
	<svg onclick="go()" t="1592290377103" class="icon" id="mobile-menu" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1154" width="37px" height="37px"><path d="M128 768l768 0 0-85.333333L128 682.666667 128 768zM128 554.666667l768 0 0-85.333333L128 469.333333 128 554.666667zM128 256l0 85.333333 768 0L896 256 128 256z" p-id="1155"></path></svg>
</div>
<div id="map-box">
		<a href="/" class="map-link" target="_blank"><div class="header-map" >首页</div></a>
		<a href="/1.html" class="map-link" target="_blank"><div class="header-map" >测试</div></a>
		<a href="/apps" class="map-link" target="_blank"><div class="header-map" >应用</div></a>
		<a href="/settings" class="map-link" target="_blank"><div class="header-map" >设置</div></a>
		<a href="/support" class="map-link" target="_blank"><div class="header-map" >打钱</div></a>
		
		<a href="/" class="map-link" target="_blank"><div class="header-map" >首页</div></a>
		<a href="/1.html" class="map-link" target="_blank"><div class="header-map" >测试</div></a>
		<a href="/apps" class="map-link" target="_blank"><div class="header-map" >应用</div></a>
		<a href="/settings" class="map-link" target="_blank"><div class="header-map" >设置</div></a>
		<a href="/support" class="map-link" target="_blank"><div class="header-map" >打钱</div></a>
	
		<a href="/" class="map-link" target="_blank"><div class="header-map" >首页</div></a>
		<a href="/1.html" class="map-link" target="_blank"><div class="header-map" >测试</div></a>
		<a href="/apps" class="map-link" target="_blank"><div class="header-map" >应用</div></a>
		<a href="/settings" class="map-link" target="_blank"><div class="header-map" >设置</div></a>
		<a href="/support" class="map-link" target="_blank"><div class="header-map" >打钱</div></a>
</div>
<div id="placeholder" class="height">
	<p style="text-align: center; font-size:12px;color:grey;">我是有底线的QWQ</p>
</div>
<div id="cover" onclick="stop()"></div>


<!-- 下为根据实际情况修改的公告或者提示 -->
<!-- <div class="dark-tip"> -->
<!-- <p>在深色模式查看我们的网站。体验如何？可以向我们<a href="/feedback/">反馈问题</a>。</p> -->
<!-- </div> -->
