.height {
	
	height: 70px;
	
}

#header-main p,#header-main h1 {

	display: inline-block;
	margin-top: 10px;

}

#header-title{

	margin-left: 25px;

}

#logo{
	
	height:40px;
	
}

.header-map{

	display: inline-block;
	font-size: 20px;
	margin: 0px 0px 0px 6px;
	height: 70px;
	padding: 26px 20px;

}

#map-box{
	
	position: fixed;
	right: 10px;
	top: 0px;
	max-width: calc(100% - 360px);
	text-align: right;
}

#mobile-menu {

	display:none;

}

#clicker {

	position:fixed;

}
