
#header-main{
	
	position:fixed;
	z-index:999;
	width:100%;
	margin-top:-15px;
	margin-left:-8px;
	margin-right:-8px;
	background-color:#F7F7F7;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	background-color: rgba(255,255,255,0.72);
	overflow: hidden;
	text-overflow: ellipsis;


}

#header-title{
	margin-top: 18px;
	
}
.header-link:link{
	text-decoration:none;
	color:black;
}
.header-link:hover{
	text-decoration:underline;
	color:black;
}
.header-link:visited{
	color:black;
	text-decoration:none;
}

//下为菜单部分
.map-link div:link{
	text-decoration:none;
	background-color:grey;
	color:white;
}
.map-link div:hover{
	text-decoration:none;
	background-color:grey;
	color:white;
}
.map-link div:visited{
	background-color:grey;
	text-decoration:none;
	color:black;
}
.map-link div{
	background-color:none!important;
	text-decoration:none;
	color:black;
	backdrop-filter: none!important;
	
}

@media (prefers-color-scheme: dark) {
	
	#header-main{
		background-color:#3B3B3B;
		color:white;
		background-color: rgba(52,50,50,0.7);
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
	}
	.header-link:link{
		text-decoration:none;
		color:white;
	}
	.header-link:hover{
		text-decoration:underline;
		color:white;
	}
	.header-link:visited{
		color:white;
		text-decoration:none;
	}
	//下为菜单部分
	.map-link div:link{
		text-decoration:none;
		background-color:white;
		color:black;
	}
	.map-link div:hover{
		text-decoration:none;
		background-color:white;
		color:black;
	}
	.map-link div:visited{
		background-color:black;
		text-decoration:none;
		color:white;
	}
	.map-link div{
		background-color:none!important;
		text-decoration:none;
		color:white;
		backdrop-filter: none!important;
	}
	
	.icon {
		
		fill: #ffffff;　
		
		
	}

}