		.height {
			height:70px;
		}
		#header-main p,#header-main h1 {
			display: inline-block;
			margin-top:10px;
		}
		#header-title{
			margin-left:25px;
		}
		.header-map{
			float:left;
			font-size:20px;
			margin:5px;
			padding:15px 20px 16px 20px;
			background-color:none;
		}
		#map-box{
			float: right;
			margin:10px;
			display:inline-table;
			
		}
		#mobile-menu {
			display:none;
		}
		#clicker {
			position:fixed;

		}
