
#header-main{
	
	position:fixed;
	z-index:999;
	width:100%;
	margin-top:-15px;
	margin-left:-8px;
	margin-right:-8px;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	background-color: var(--jianbian-color);
	overflow: hidden;
	text-overflow: ellipsis;


}

#header-title{
	margin-top: 18px;
	
}
.header-link:link{
	text-decoration:none;
	color:black;
}
.header-link:hover{
	text-decoration:underline;
	color:black;
}
.header-link:visited{
	color:black;
	text-decoration:none;
}

@media (prefers-color-scheme: dark) {
	
	#header-main{
		background-color:#3B3B3B;
		color:white;
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(20px);
	}
	.header-link:link{
		text-decoration:none;
		color:white;
	}
	.header-link:hover{
		text-decoration:underline;
		color:white;
	}
	.header-link:visited{
		color:white;
		text-decoration:none;
	}
	.icon {
		
		fill: #ffffff;　
		
		
	}

}