.height {
	
	height: 70px;
	
}

#header-main p,#header-main h1 {

	display: inline-block;
	margin-top: 10px;

}

#header-title{

	margin-left: 25px;

}

#logo{
	
	height:40px;
	
}

.header-map{

	display: inline-block;
	font-size: 20px;
	margin: 0px 0px 0px 6px;
	height: 70px;
	padding: 26px 20px;

}

#map-box{
	
	position: fixed;
	right: 10px;
	top: 0px;
	max-width: calc(100% - 360px);
	text-align: right;
	z-index: 1000;
	height: 70px;
	overflow: hidden;
}

#mobile-menu {

	display:none;

}

#clicker {

	position:fixed;

}


.map-link div:link{
	text-decoration:none;
	background-color:grey;
	color:white;
}
.map-link div:hover{
	text-decoration:none;
	background-color:grey;
	color:white;
}
.map-link div:visited{
	background-color:grey;
	text-decoration:none;
	color:black;
}
.map-link div{
	background-color:none!important;
	text-decoration:none;
	color:black;
	backdrop-filter: none!important;
	
}

@media (prefers-color-scheme: dark) {
	
		.map-link div:link{
		text-decoration:none;
		background-color:white;
		color:black;
	}
	.map-link div:hover{
		text-decoration:none;
		background-color:white;
		color:black;
	}
	.map-link div:visited{
		background-color:black;
		text-decoration:none;
		color:white;
	}
	.map-link div{
		background-color:none!important;
		text-decoration:none;
		color:white;
		backdrop-filter: none!important;
	}
	
}